<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>VEGE</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="../static/fit.css" media="screen">
    <link rel="stylesheet" href="../static/fit_detail.css" media="screen">
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Nanum+Pen+Script&family=Noto+Sans+KR&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav>
            <div class="navbar navbar-expand-lg navbar-dark bg-primary" id="navbar">
                <div class="container">
                    <a href="../" class="navbar-brand">Vege-Search</a>
                </div>
            </div>
        </nav>
    </header>
    <content>
        <div class="container">
            <p class="lead">
                by hooN, Posted on 2020.11.04
            </p>
            
            <hr>
            <!-- Preview Image -->
            <img class="img-fluid rounded" src="../_media/마라탕.jpg" alt="">
            <hr>
            <!-- Post Content -->
            <p class="lead">
                고기 : 없어요^^
            </p>
            <p class="lead">
                생선 : 들어있어요
            </p>
            <p class="lead">
                달걀 : 없어요^^
            </p>
            <p class="lead">
                우유 : 없어요^^
            </p>
            <hr>
            <button type="button" class="btn btn-primary float-right m-2"
                onclick="location.href='base.html'">확인</button>
        </div>

    </content>
    <footer>
        Copy right 2020 Jeonghoon Park
    </footer>
</body>
</html>
