<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>VEGE</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="../static/fit.css" media="screen">
    <link rel="stylesheet" href="../static/fit_detail.css" media="screen">
    <link rel="stylesheet" href="../static/form.css" media="screen">
</head>

<body>
    <header>
        <nav>
            <div class="navbar navbar-expand-lg navbar-dark bg-primary" id="navbar">
                <div class="container">
                    <a href="../" class="navbar-brand">Vege-Search</a>
                </div>
            </div>
        </nav>
    </header>
    
    <!-- Page Content -->
    <content>
        <div class="container"> 
            <form method="post" enctype="multipart/form-data">
                <table>
                    <tr>
                        <td>
                            <label for="name">Name</label>
                        </td>
                        <td>
                            (2 to 8 char):
                        </td>
                        <td>
                            <input type="text" id="name" name="name" required minlength="2" maxlength="8" size="10">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Gender ::
                        </td>
                        <td>
                            <input type="radio" id="male" name="gender" value="male">
                            <label for="male">Male</label>
                        </td>
                        <td>
                            <input type="radio" id="female" name="gender" value="female">
                            <label for="female">Female</label>
                        </td>
                        <td>
                            <input type="radio" id="other" name="gender" value="other">
                            <label for="other">Other</label>
                        </td>
                        <td>
                            <input type="radio" id="other" name="gender" value="no">
                            <label for="other">Don't want to make it</label>    
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Vegetarian: 
                        </td>
                        <td>
                            <label><input type="checkbox" name="vege" value="vegan"> Vegan</label>
                        </td>
                        <td>
                            <label><input type="checkbox" name="vege" value="lactto"> Lactto</label>                   
                        </td>
                        <td>
                            <label><input type="checkbox" name="vege" value="pesco"> Pesco</label>
                        </td>    
                        <td>
                            <label><input type="checkbox" name="vege" value="flex"> Flexitarian</label>
                        </td>
                    </tr>
                </table>
                <button type="button" class="btn btn-primary float-right m-2" onclick="location.href='base.html'">확인</button>
                <button class="btn btn-primary float-right m-2" onclick="location.href='/blog/'">취소</button>
            </form>
        </div>
    </content>
    <footer>
        Copy right 2020 Jeonghoon Park
    </footer>
</body>

</html>


<!-- 
<title>{{blog_post.title}}</title> -->