<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>VEGE</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="../static/base.css" media="screen">
    <link rel="stylesheet" href="../static/blog-home.css" media="screen">
</head>
<body>
    <header>
        <nav>
            <div class="navbar navbar-expand-lg navbar-dark bg-primary" id="navbar">
                <div class="container">
                    <a href="../" class="navbar-brand">Vege-Search</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarResponsive">
                        <ul class="navbar-nav">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="themes"> 식당 <span
                                        class="caret"></span></a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" > 도서관 <span
                                        class="caret"></span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="../help/">더 알아보기</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <content>
        <div class="container">
            <p class="lead">
                by hooN, Posted on 2020.11.04
            </p>
            
            <hr>
            
            <!-- Preview Image -->
            <img class="img-fluid rounded" src="../_media/마라탕.jpg" alt="">
            <hr>
            <!-- Post Content -->
            <p class="lead">
                고기 : 없어요^^
            </p>
            <p class="lead">
                생선 : 들어있어요
            </p>
            <p class="lead">
                달걀 : 없어요^^
            </p>
            <p class="lead">
                우유 : 없어요^^
            </p>
            <hr>
            <button type="button" class="btn btn-primary float-right m-2"
                onclick="location.href='base.html'">확인</button>
        </div>

    </content>
    <footer>
        Copy right 2020 Jeonghoon Park
    </footer>
</body>
</html>
