p {
    margin-top : 3px;
    margin-bottom : 3px;
}

h4{
    margin-top: 0.5em;
    margin-bottom : 0.5em;
}

.circle{
    width : 100px;
    height : 100px;
    border-radius : 50%;
    text-align : center;
    line-height : 100px;
}

.center{
    text-align : center;
}

.green{
    background: green;
    font-size : 20px;
    font-weight: bolder;
}

.green:hover{
    background: white;
    font-size : 20px;
    font-weight: bolder;
}

.pink{
    background : pink;
}

.yellow{
    background : yellow;
}

.flex{
    display : flex;
    justify-content: center;
}

.pad{
    padding-top : 20px;
    padding-bottom: 20px;
    margin-top : 0px;
    margin-bottom: 0px;;
}