.box {
	width: 75px;
	height: 75px;
	float: left;
    border: 1px  solid  black;
    margin-left : 3px;
    margin-right : 3px;
}

.red {
	background-color: red;
}

.ellipse {
    border-radius : 20%;
}

button {
    margin-left : 3px;
    margin-right : 3px;
}